@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Faster+One&family=Frijole&family=Goblin+One&family=Mogra&family=Monoton&family=Philosopher:wght@700&family=Rubik+Moonrocks&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

#main {
  width: 100%;
  height: auto;
  background: /* linear-gradient(
    90deg,
    #bb99ff,
    #99b3ff,
    #66b3ff,
    #a3a3c2,
    #8080ff
  )*/ black;
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite;
}
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/*hero starts*/
#hero {
  height: 100vh;
  width: 100%;
}

#nav {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  height: 14vh;
}

#nav #ignitionlogo img {
  height: 10vh;
  width: 29vw;
}
#nav #anitslogo img {
  height: 7vh;
  
}
#options {
  padding: 0px 20px;
  transition: 0.5s;
}
#options ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
}
 
#options button {
  background-color: transparent;
  border: none;
  
}

#options ul li {
  padding: 15px;
  list-style: none;
}

#options ul li a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color:white;
  font-size: 1.977vw;
  font-weight: 500;
}
#options   button a:hover {
  background-color:  red;
  color: white;
  border-radius: 25px;
  
  padding: 5px 10px;
}

#heading {
  height: 60vh;
  padding: 20px;
  text-align: center;
}
#heading h2 {
  font-family: "Black Ops One", system-ui, sans-serif;

  padding-top: 22vh;
  font-size: 4.5vw;
}

#heading h1 {
  /*font-family: "Lemon", sans-serif;*/
  font-family: 'Philosopher', sans-serif;
  
  font-size: 9vw;

  color: black;
  -webkit-text-stroke: 0.1vw gold;
}

.tech {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4.5vw;
  display: inline-block;
  color: white;
}

/*hero ends*/

/*body starts*/
#body {
  width: 100%;

  padding: 20px;
}


#about #aboutheading h3 {
  display: flex;
  font-family: "Potta One", system-ui;
  justify-content: center;
  font-weight: bold;
  padding-top: 20px;
  color: gold;
  text-shadow: 0px 1px 20px gold;
}

#description #video iframe {
  height: 50vh;
  padding-top: 20px;
}
#description #video #aboutignition p {
  font-family: "Poppins", sans-serif;
  padding: 20px 0px;
}


 




#events h2 {
  font-family: "Potta One", system-ui;
  text-align: center;
  font-weight: bolder;
  padding: 10px 0px;
  color: gold;
      text-shadow: 0px 1px 20px gold;
      margin-bottom: 30px;
}
.container {
  border: 1px black;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}


  

.small-desc {
  padding-bottom: 20px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}



.card {
  position: relative;
  width: 280px;
  height: 300px;
 
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px lightgrey;
margin-bottom: 30px;
}
.temporary_text img {
  height: 300px;
  width: 300px;
  
  
}

.card_title {
  font-weight: bold;
  
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  
    
  width: 100%;
  padding: 20px;
  background-color:  #c3e6ec9e;
  
   
  transform: translateY(150px);
  transition: transform .25s;
}

.card_title {
  color: #131313;
  
}



.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
  color: black;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}

.btn {
  color: #262626;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  align-items: center;
  border-radius: 25px;
}
.btn a {
  text-decoration: none;
  color: black;
}

.btn:hover {
  
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: red;
  
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}
.card_content::before {
  
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #c3e6ec9e;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}



#sponsers h2{
  display: flex;
  font-family: "Potta One", system-ui;
  justify-content: center;
  font-weight: bold;
  padding-bottom: 20px;
  color: gold;
  text-shadow: 0px 1px 20px gold;
  text-align: center;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#sponsers {
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
  position: relative;
  
}



.logos-slide:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  padding-top: 20px;
  display: inline-block;
  animation: 10s slide infinite linear;
  box-shadow: 0px 0px 10px 5px lightgrey;
    
}

.logos-slide img {
  height: 50px;
  margin: 0 20px;
}











#footer {
  align-items: center;
  text-align: center;

}


#footer #copyright {
  padding: 20px;
 
}




@media only screen and (min-width: 200px) and (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
  
}

@media (min-width:1024px){
  #description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
  }
  #description #video iframe
  {
    height: 80vh;
  }
  #nav #ignitionlogo img {
    height: 10vh;
    width: 20vw;
  }
  #nav #anitslogo img {
    height: 10vh;
    
  }
}
