* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
#main {
  width: 100%;
  height: auto;
  background: linear-gradient(315deg, #ff80ffab, #66b3ff);
overflow-x: hidden;
padding-left: 20px;
}



#image{
  display: flex;
  justify-content: center;
}
#image img{
  height: 48vh;
  width: 50vh;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  padding: 20px;
}
#hero{
  padding:0px 20px;
}

#hero #heading{
  display: flex;
  justify-content: center;
}
#hero #text{
  padding: 20px 0px;
  font-size: 18px;
}
#heroine{
  display: flex;
  justify-content: center;
}
#requirements{
  font-weight: 600;
  font-size: 19px;
  padding: 20px;
}
#requirements h2{
  padding: 10px 0px;
  font-size: bold;
  font-weight: bold;
}
#contact
{
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  
}



#body{
  width: 100%;
}

.card {
  width: 220px;
  height: 254px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding-top: 10px;
  border-style: double;
  font-family: inherit;
}

.card span {
  font-weight: 600;
  color: black;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 1.3em;
}

.card .job {
  font-weight: 400;
  color: black;
  display: block;
  text-align: center;
  padding: 5px;
  font-size: 1em;
}

.card .img img {
  width: 100px;
  height: 100px;
  background: #e8e8e8;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
  display: flex;
}

.card #phone{
  font-size: 16px;
  text-decoration: none;
  color: black;
  
  text-align: center;
  display: flex;
  justify-content: center;
}
.card #mail{
text-decoration: none;
color: black;
font-size: 17px;
display: flex;
justify-content: center;
padding: 5px;
}

#footer {
  align-items: center;
  text-align: center;

}


#footer #copyright {
  padding: 20px;
 
}


@media (min-width:1024px){
  #image img {
    height: 400px;
    width: 450px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    padding: 20px;
}
#dynamic{
  display: grid;
  
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
}
}


