* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
#main {
  width: 100%;
  height: auto;
  background: linear-gradient(50deg, #ec6464, #66b3ff);

}

#heading h1{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#image{
  display: flex;
  justify-content: center;
}
#image img{
  height: 30vh;
  width: 25vw;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
#about
{
  font-weight: 600;
  font-size: 19px;

  padding: 20px;
  display: flex;
  justify-content: center;
}
#requirements{
  font-weight: 600;
  font-size: 19px;
  padding: 20px;
}
#requirements h2{
  padding: 10px 0px;
  font-size: bold;
  font-weight: bold;
}
#contact
{
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  height: auto;
  width: auto;
border: 2px black;
}

#contact  #allinformation a{
  text-decoration: none;
  color: black;
}
#contact h3{
  
  padding: 10px 0px;
}
#body{
  width: 100%;
}